:root { font-family: 'Inter', sans-serif; line-height: 1.6;}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; line-height: 1.6;}
}

html, body {
    background-color: #0F1019;
    color: #F1F1F1;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 5em;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    padding: 5px 0;
}

li {
    padding: 2px 0;
}

div.post p {
    font-weight: 300;
    padding-right: 60px;
}

div.post {
    margin-bottom: 4em;
}

div.post a {
    text-decoration: none;
    color: #ffbb5b;
}

div.post h2 a {
    text-decoration: none;
    color: #F1F1F1;
}

div.post h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F1F1F1;
}

a:hover, div.post a:hover {
    color: #FF0099;
}

div.post h2 a {
    background-image: linear-gradient(
      to right,
      #FF0099,
      #FF0099 25%,
      #ffbb5b 50%,
      #F1F1F1 50%
    );
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
div.post h2 a:before {
    content: '';
    background: linear-gradient(
        to right,
        #FF0099,
        rgba(255,0,153, 1),
        rgba(255,187,91, 1)
    );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
div.post h2 a:hover {
   background-position: 0;
}
  
div.post h2 a:hover::before {
    width:100%;
}

.error-404 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}